*{  margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
 }
 
 .navbar-toggler {
    display: none;
  }

  .container img {
    $thumbnail-box-shadow: 10px;
  }

  .container {
     display: grid;
     gap: 1 rem;
     grid-auto-rows: 22rem;
     grid-template-columns: repeat(auto-fill), minmax(15rem, 1fr)
  }
