
.section.titulo {
    padding: 60;
    margin: 50;
    border: 1px solid rgb(228, 145, 145);
    font-size: 5rem;
    display: inline-block;
    animation: move 5s infinite;
    transition-delay: 2s
  }

 @keyframes move {
    10% { 
      border: 15px solid rgb(26, 24, 25);
    }
    50% {
      text-shadow: 0 25px 50px rgb(228, 145, 145);
    }
  }









