@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap');
$font-family-base: 'Lora', serif;
$danger: rgb(231, 126, 144);
$navbar-light-toggler-border-color: black; 

@import "../node_modules/bootstrap/scss/bootstrap";

.navbar-toggler {
    display: none;
  }
